.Navbar {
    background-color: red;
    overflow: hidden;
}

.Navbar div {
    color: white;
}

.Navbar a {
    text-decoration: 'none';
    text-align: center;
    float: left;
    padding: 1% 1%;
}